{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static "newapp/css/thank_you.css"%}">
    <meta charset="utf-8">
    <title>Thank You!</title>
  </head>
  <body>
    <img src="" alt="">
    <h1 id="first_line">Thank You!</h1>
    <h2 id="second_line">A representative will be reaching out to you shortly</h2>
    <h3>Click <a href="webuygoldusa.com">here</a> to go back</h3>
    <h4>contact us at: 1-888-232-0327</h4>
    <div id="container">
      <img id="logo" src="{% static 'Original on Transparent.png'%}" alt="NA">

    </div>

  </body>
</html>
